<%- include('component/Head.ejs')%>

<body class="c-app">
  <%- include('component/SideBar.ejs')%>
  <%- include('component/SideBarMenu.ejs')%>
  <div class="c-wrapper c-fixed-components">
    <%- include('component/Header.ejs')%>
    <%- include('./component/Message.ejs') %>
    <div class="c-body">
      <main class="c-main bg-white">
        <div class="container-fluid">
          <div class="fade-in">


            <div class="col">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">Makanan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false">Minuman</a>
                </li>   
                <!-- <li class="search-ul nav-item ml-auto d-flex align-items-end">
                  <form class="search-form form-inline align-items-center mb-0" action="/supplier/search" method="GET">
                    <div class="form-group mb-0">
                      <label for="nama" class="sr-only">Nama</label>
                      <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama">
                    </div>
                    <button type="submit" class="btn btn-primary btn-search">Search</button>
                  </form> 
                </li> -->
           
              </ul>
              <form action="/ordermenu" method="POST">
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <% menu.forEach((element,key)=>{%>
                    <% if(element.type===true) {%> 
                    <div class="col">
                      <div class="card bg-white" style="padding-top: 10px;padding-bottom: 20px;">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                          <div>
                            <div class="text-value-lg"><%- element.name %> </div>
                            <div  ">Rp.<%- element.price %> </div>
                          </div>
                          <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                              <input type="text" hidden name="nama_menu" readonly class="form-control" value="<%-element.name%>"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              <input type="text" hidden name="nama_id" readonly class="form-control" value="<%-element._id%>"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              
                              <button type="button" class="btn btn-primary minus">-</button>
                              <input type="number" name="jumlah" readonly class="form-control jumlah" value="0"  aria-label="Default" aria-describedby="inputGroup-sizing-default" style="text-align: center;">
                              <button type="button" class="btn btn-primary add">+</button>
                            </div>
                            <input id='price' class="form-control"  name="total_price" readonly data-price="<%- element.price %> " value="0"  style="background-color: white;border: none;"/>
                  
                          </div>
                        </div>
                  
                      </div>
                              </a>
                    </div>
                    <% } %> 
                    <%}) %> 
                </div>
                <div class="tab-form tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <% menu.forEach((element,key)=>{%>
                    <% if(element.type===false) {%> 
                    <div class="col">
                      <div class="card bg-white" style="padding-top: 10px;padding-bottom: 20px;">
                        <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                          <div>
                            <div class="text-value-lg"><%- element.name %> </div>
                            <div  ">Rp.<%- element.price %> </div>
                          </div>
                          <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                              <input type="text" hidden name="nama_menu" readonly class="form-control" value="<%-element.name%>"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              <input type="text" hidden name="nama_id" readonly class="form-control" value="<%-element._id%>"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
                              
                              <button type="button" class="btn btn-primary minus">-</button>
                              <input type="number" name="jumlah" readonly class="form-control jumlah" value="0"  aria-label="Default" aria-describedby="inputGroup-sizing-default" style="text-align: center;">
                              <button type="button" class="btn btn-primary add">+</button>
                            </div>
                            <input id='price' class="form-control"  name="total_price" readonly data-price="<%- element.price %> " value="0"  style="background-color: white;border: none;"/>
                  
                          </div>
                        </div>
                  
                      </div>
                              </a>
                    </div>
                    <% } %> 
                    <%}) %> 
                </div>
               
                <button type="submit" class="btn btn-success checkout">checkout</button>
              </form>
           
   


              <!-- <% menu.forEach((element)=>{%>
        
                <div class="col-sm-6 col-lg-3">
                  <a href="javascript:test();">
                  <div class="card text-white bg-primary" style="padding-top: 10px;padding-bottom: 20px;">
                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                      <div>
                        <div class="text-value-lg">Rp.<%- element.price %> </div>
                        <div><%- element.name %> </div>
                      </div>
                 
                    </div>
              
                  </div>
                          </a>
                </div>
      
              <%}) %> 
         -->

            </div>
           
          </div>

        </div>
  
      </main>
 
    </div>
  
  </div>
  <script>

      $(".add").off().click(function(){
        
        const form=$(this).parent().children(".jumlah")
        const price=$(this).parent().parent().children("#price")
        const jumlah=Number(form.val())+1
        form.val(jumlah)
        const totalPrice=jumlah*Number(price.data("price"))
        price.val(totalPrice)
        

      })

      $(".minus").off().click(function(){
    
        
        const form=$(this).parent().children(".jumlah")
        const price=$(this).parent().parent().children("#price")
        if(Number(form.val())>0){
        const jumlah=Number(form.val())-1
        form.val(jumlah)
        const totalPrice=jumlah*Number(price.data("price"))
        price.val(totalPrice)
        }
        

      })
      
    


  </script>

