<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Nama Barang</th>
        <th scope="col">Nama Supplier</th>
        <th scope="col">Harga satuan</th>
        <th scope="col">Harga total Pembelian</th>
        <th scope="col">Tipe</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% data.forEach((element,key)=>{%>
            <tr>
              <th scope="row"><%= key+1 %> </th>
              <td><%= element.name %> </td>
              
              <td>
                <%- element.idSupplier!==null ?element.idSupplier.name:"supplier tidak terdaftar" %>
              </td>
              <% let price=Number(element.price) %> 
              <th scope="col">Rp.<%= parseInt((price).toFixed(1)).toLocaleString() %></th>
              <th scope="col">Rp.<%= parseInt((element.totalPrice).toFixed(1)).toLocaleString() %></th>
              <th scope="col"><%- element.type?"Makanan":"Minuman" %> </th>
              <th scope="col"><%= element.total %> </th>
              <td>
                <button
                  type="button"
                  class="btn btn-primary"
               
          id="btn_edit"
          data-toggle="modal"
          data-target="#modalEditMenu"
          data-name="<%= element.name %>"
          data-price="<%= element.price %>"
          data-id="<%= element._id %>"
          data-stock="<%= element.total %>"
          data-type="<%= element.type %>"
             
                >
                  Edit
                </button>
                <button id="btn_delete"    data-id="<%= element._id %>"             data-toggle="modal"    type="button" data-target="#modalDelete" class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <%})%>
    </tbody>
  </table>
  <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="modalEditMenu"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Barang Masuk</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/editbarangmasuk?_method=PUT" method="POST">
             <!-- <div class="form-group">
                    <label for="id_supplier">ID Supplier</label>
                    <select class="form-control" id="id_supplier" name="id_supplier">
                     
                    </select>
                  </div> -->
                  <input hidden type="text" class="form-control name-menu" name="id" id="id_menu">
              
                  <div class="form-group" >
                      <label for="name_menu">Nama Barang</label>
                      <input type="text" class="form-control name-menu" name="name_menu" id="name_menu" placeholder="Kopi">
                    </div>
                   
                    <!-- <div class="form-group">
                      <label for="name">Bahan</label>
                      <input readonly type="text" class="form-control name-barang" name="name_bahan" id="name_bahan" placeholder="Kopi">
                    </div> -->
                     
                    <div class="form-group">
                      <label for="type">Tipe</label>
                      <select class="form-control" id="type" name="type">
                        <option value="true">Makanan</option>
                        <option value="false">Minuman</option>
                      </select>  
                    </div>
                    <div class="form-group">
                      <label for="price">Harga</label>
                      <input type="number" class="form-control" name="price" id="price-brg-masuks" placeholder="5">
                    </div> 
                      <div class="form-group">
                        <label for="jumlah">Total</label>
                        <input type="number" class="form-control" name="jumlah" id="jumlah-brg-masuks" placeholder="5">
                      </div>    
                      <div class="form-group">
                        <label for="price">Total Price</label>
                        <input type="text" class="form-control" name="total_price" id="total-price-masuks" placeholder="50000">
                      </div>     
   
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="modalDelete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Menu</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/deleteBarang?_method=DELETE" method="POST">
                      <div class="form-group">
                        <p>Item ini akan di hapus</p>
                        <input hidden readonly type="text" class="form-control" name="id" id="id_menus">
                      </div>     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-green" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <script>
  $(".table").on("click","#btn_edit",function(){
      const id=$(this).data("id")
      const name=$(this).data("name")
      const type=$(this).data("type")
      const price=$(this).data("price")
      const stock=$(this).data("stock")
      $("#name_menu").val(name)
      $("#type").val(String(type))
      $("#jumlah").val(stock)
      $("#price").val(price)
      $("#id_menu").val(id)
  })
  $(".table").on("click","#btn_delete",function(){
      const id=$(this).data("id")
      $("#id_menus").val(id)
  
  })
    
  let jums = 0;
  let prices = 0;
  const formaters = new Intl.NumberFormat("en-ID", {
    style: "currency",
    currency: "IDR",
  });
  $("#price-brg-masuks").on("change", function () {
    prices = Number($(this).val());
    // $("#total-brg-mask").val(mon.slice(4, mon.length-3));
    const mon = formaters.format(jums * prices);
    $("#total-brg-mask").val(mon.slice(4, mon.length - 3));
  });
  $("#jumlah-brg-masuks").on("change", function () {
    jums = Number($(this).val());
    const mon = formaters.format(jums * prices);


    $("#total-price-masuks").val(mon.slice(4, mon.length - 3));
  });
  $(".table").on("click","#btn_delete",function(){
    const id=$(this).data("id")
    $("#id_menus").val(id)

})
  
  </script>
  