<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Alamat</th>
            <th scope="col">Phone</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach((element,key)=>{%>
        <tr>
            <th scope="row"><%= key+1 %> </th>
            <td><%= element.name %> </td>
            <td><%= element.address %> </td>
            <td><%= element.phone %> </td>
            <td><button  data-toggle="modal"
                data-name="<%= element.name %>"
                data-id="<%= element.id %>"
                data-address="<%= element.address %>"
                data-phone="<%= element.phone %>"
                data-target="#modalEditSupplier" class="btn btn-primary" type="button" id="btn_edit">Edit</button>
                <button data-toggle="modal" id="btn_delete"  data-id="<%= element.id %>"  data-target="#modalDelete" class="btn btn-danger">Delete</button></td>
        </tr>
        <%})%>


    </tbody>
</table>

<div
  class="modal fade"
  id="modalEditSupplier"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="/editSupplier?_method=PUT" method="POST">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Supplier</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <input hidden  type="text" class="form-control" id="id" name="id" placeholder="Arigo">
       
            <form class="form-supplier" action="/supplier/add" method="POST">
                <div class="form-group">
                  <label for="name">Nama</label>
                  <input type="text" class="form-control" id="name" name="name" >
                </div>
              <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="address" id="address"  rows="3"></textarea>
                </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" class="form-control" name="phone" id="phone-supplier" >
              </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
      </div>
    </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Menu</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/deleteSupplier?_method=DELETE" method="POST">
                    <div class="form-group">
                      <p>Item ini akan di hapus</p>
                      <input hidden readonly type="text" class="form-control" name="id" id="id_menus">
                    </div>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-green" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </form>
    </div>
  </div>
</div>
<script>
    $(".table").on("click","#btn_edit",function(){
        const name=$(this).data("name")
        const id=$(this).data("id")
        const address=$(this).data("address")
        const phone=$(this).data("phone")


        $("#name").val(name)
        $("#id").val(id)
        $("#address").val(address)
        $("#phone-supplier").val(phone)
      
    })
    $(".table").on("click","#btn_delete",function(){
    const id=$(this).data("id")
    $("#id_menus").val(id)

})


</script>